.image{
height: 300px;
width: 300px;
}
.container
{
    text-align: center;
}
#myCarousel{
  background-color:crimson
      
}
#myCarousel img{
    height: 300px;
    margin-top:34px;
}
.menu{
position: fixed;
    width: 100%; 
}
.link{
display: inline;
color: cyan;
    padding-left:20px;
        padding-right:20px;
}